{% extends "encyclopedia/layout.html" %}

{% block title %}
Wiki
{% endblock %}

{% block body %}
{% if msg_success %}
<p style="color:green">{{msg_success}}</p>
{% endif %}
{{entry|safe}}
<!-- When the Edit button is clicked we're taken to edit.html page and editEntry function is called.

    this function:
    # Gets data for the entry to be edited
    # Displays content in textarea
    # Returns the page with forms filled with entry information
-->
<form action="{% url 'editEntry' title %}" method="post">
    <button class="btn btn-outline-secondary">Edit</button>
    {% csrf_token %}
</form>
{% endblock %}